*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

footer {
    text-align: center;
}

p {
    color: azure;
    font-family: 'Abel', sans-serif;
}



body {
    background-image: url(../img/fondo-negro-patron-de-luz-abstrato_fondos-de-pantalla-abstratos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}





/*------------------*/
